{% extends 'base.html' %}

{% block content %}
  <div class="docs-section"><div class="ten columns">
    <h6 class="docs-header">Partidas</h6>
  </div>
  <div class="two columns">
    <a class="button" href="{% url 'bets:match-create' %}"> Nova Partida </a>
  </div>
  <table class="u-full-width">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Pontuação</th>
      <th>Cash</th>
      <th> - </th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj.name }}</td>
      <td>{{obj.points}}</td>
      <td>{{obj.cash}}</td>
      <td><a class="button" href="{% url 'bets:player-details' obj.pk %}">Detalhes</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
